{
    "env": {
      "targets": {
        "node": 22
      }
    },
    "jsc": {
      "parser": {
        "syntax": "typescript"
      }
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": "inline"
  }